:root {
  /* -- Transition -- */
  --transition: all 0.5s;
  /* -- BorderRadius -- */
  --radius: 10px;
  /* -- Fonts Styling -- */
  --h1FontSize: calc(18px + 3.5vmax);
  --h2FontSize: calc(14px + 2vmax);
  --h3FontSize: calc(14px + 1vmax);
  --textsFontSize: calc(15px + 0.15vmax);
  --titleFontFamily: 'Big Shoulders Stencil Display', cursive;
  --textFontFamily: 'Lato', sans-serif;;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

header {
  height: 6vmax;
  width: 100%;
  padding: 0 1vmax;
  position: fixed;
  top: 0;
  background: linear-gradient(225deg, black 50%, rgba(50, 50, 50, 1) 80%, grey 93%, white);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.brgr-btn {
  align-self: center;
  color: white;
  z-index: 1000;
  cursor: pointer;
}

.close {
  color: black;
}

.nav-bar {
  height: 100vh;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  transition: var(--transition);
  overflow: hidden;
}

/* -- NavBar Transition -- */
.smooth {
  width: 55%;
  padding: 5vmax 0 5vmax 1.5vmax;
}

.nav-bar ul {
  list-style: none;
}

.links {
  font-size: var(--h3FontSize);
  font-family: var(--titleFontFamily);
  text-decoration: none;
  color: black;
}

.main {
  height: calc(100vh - calc(100vh - 100%));
  width: 100%;
  padding: 10vmax 1vmax 4vmax 1vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: var(--h2FontSize);
  font-family: var(--titleFontFamily);
  color: white;
}

.arrow {
  flex: 0 1 10%;
  font-size: var(--h2FontSize);
  color: white;
  z-index: 0;
  cursor: pointer;
}

.about-section {
  padding-top: 12vmax;
}

.title-wrapper {
  text-align: center;
}

h1 {
  font-size: var(--h1FontSize);
  font-family: var(--titleFontFamily);
  color: white;
}

.short-desc {
  font-size: var(--h3FontSize);
  font-family: var(--titleFontFamily);
  color: white;
}

.skillsTools {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skillsTools article {
  font-family: var(--textFontFamily);
  color: white;
  list-style: none;
  text-align: center;
}

.skillsTools h3 {
  font-size: var(--h3FontSize);
}

.skillsTools article ul {
  font-size: var(--textsFontSize);
  margin-top: 1vmax;
  list-style: none;
}

.projects-wrapper {
  flex: 0 1 78%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 80%;
  justify-content: center;
  row-gap: 2vmax;
  overflow-y: scroll;
}

.projects-wrapper article {
  font-family: var(--textFontFamily);
  height: 100%;
  width: 100%;
  padding: 1.5vmax;
  color: white;
}

.projects-wrapper img {
  width: 100%;
  margin-bottom: 1vmax;
}

.projects-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-wrapper h3 {
  font-size: var(--h3FontSize);
}

.projects-wrapper p {
  font-size: var(--textsFontSize);
  margin-top: 1vmax;
}

.projects-title {
  text-align: center;
}

.contact-wrapper {
  flex: 0 1 78%;
  font-family: var(--textFontFamily);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-wrapper h3 {
  font-size: var(--h3FontSize);
  margin: auto 0 0 0;
}

.contact-wrapper ul {
  font-size: var(--textsFontSize);
  margin: 2vmax auto auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 1vmax;
  list-style: none;
}

.contact-wrapper li {
  width: fit-content;
  cursor: pointer;
  
}

.contact-wrapper a {
  color: white;
  text-decoration: none;
}

.contact-wrapper svg {
  margin-bottom: -3px;
}

@media screen and (min-width: 650px) {
  .projects-wrapper {
    flex: 0 1 78%;
    grid-template-columns: 33% 33%;
    gap: 2vmax;
  }

  .projects-wrapper h2 {
    grid-area: 1/1/2/3;
  }
}

@media screen and (min-width: 1000px) {
  .brgr-btn {
    display: none;
  }

  .nav-bar {
    height: 100%;
    width: auto;
    position: relative;
    background-color: inherit;
    overflow: visible;
    transition: none;
  }

  .nav-bar ul {
    height: 100%;
    padding: 0 1vmax;
    display: flex;
    align-items: center;
    column-gap: 2vmax;
  }

  .links {
  color: white;
}

  .projects-wrapper {
    grid-template-columns: 25% 25%;
  }
}